@font-face {
    font-family: 'iconfont';  /* project id 2358492 */
    src: url('//at.alicdn.com/t/font_2358492_7pl14x7iopi.eot');
    src: url('//at.alicdn.com/t/font_2358492_7pl14x7iopi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2358492_7pl14x7iopi.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2358492_7pl14x7iopi.woff') format('woff'),
    url('//at.alicdn.com/t/font_2358492_7pl14x7iopi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2358492_7pl14x7iopi.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }